.preview-wrapper{
  padding-top: 20px;
  form{
    text-align: center;
    input{
      min-width: 600px;
    }
  }
}
.home-wrapper{
  h3{
    text-align: center;
    margin-top: 40px;
  }
}
.preview-part-wrapper{
  text-align: center;
  img{
    margin: 0 auto;
    display: block;
    padding-bottom: 30px;
  }
  h2 {
    position: absolute;
    left: 0;
    bottom: 0;
    font:{
      size: 14px;
    }
    color: #ff44b7;
  }
}
.preview-part-wrapper-right {
  p{
    display: inline-block;
  }
  span{
    display: block;
    padding: 10px 0;
  }
  .remove-channel{
    font:{
      size: 16px;
    }
    color: red;
    float: right;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .refresh-channel{
    font:{
      size: 16px;
    }
    color: teal;
    &:hover{
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
.preview-wrapper-big{
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}
.channel-title{
  font:{
    family: $MonserratBold;
    size: 20px;
    weight: bold;
  }
  display: block;
  color: #000000;
}
.channel-descr{
  font:{
    size: 16px;
  }
}