.refresh-news{
  text-align: center;
  font:{
    size: 28px;
  }
  color: red;
  &:hover{
    text-decoration: underline;
    cursor: pointer;
  }
  margin-bottom: 30px;
  margin-top: 20px;
}
.news-preview-wrapper{
  padding-bottom: 10px;
  border-bottom: 1px dashed;
  padding-top: 20px;
  a{
    padding: 10px 0;
    display: inline-block;
  }
  span{
    padding: 10px 0;
    display: block;
  }
}